# Generated manuscript output files
output/*
!output/README.md

webpage/v

# When PDF building fails, a temporary symlink named images in the root
# directory is not removed.
/images

# Manubot cache directory
ci/cache

# Pandoc filters downloaded during continuous integration setup
build/pandoc/filters/spellcheck.lua

# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Misc temporary files
*.bak

# System specific files

## Linux
*~
.Trash-*

## macOS
.DS_Store
._*
.Trashes

## Windows
Thumbs.db
[Dd]esktop.ini

## Text Editors
.vscode
content/images/paper-thumbnails/pc1/044818.jpg
content/images/paper-thumbnails/pc1/107250.jpg
content/images/paper-thumbnails/pc1/197400.jpg
content/images/paper-thumbnails/pc1/371922.jpg
content/images/paper-thumbnails/pc1/733162.jpg
content/images/paper-thumbnails/pc1/745943.jpg
content/images/paper-thumbnails/pc1/754572.jpg
content/images/paper-thumbnails/pc1/769299.jpg
content/images/paper-thumbnails/pc1/825943.jpg
content/images/paper-thumbnails/pc2/019687.jpg
content/images/paper-thumbnails/pc2/220152.jpg
content/images/paper-thumbnails/pc2/301051.jpg
content/images/paper-thumbnails/pc2/328591.jpg
content/images/paper-thumbnails/pc2/357939.jpg
content/images/paper-thumbnails/pc2/386367.jpg
content/images/paper-thumbnails/pc2/392779.jpg
content/images/paper-thumbnails/pc2/484204.jpg
content/images/paper-thumbnails/pc2/781328.jpg
content/images/paper-thumbnails/pc2/840280.jpg
